.attention-btn{
  width: 100px;
  padding: 5px 10px;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: #009DDA;
  color: #fff;
  outline: none;
}
.attention-btn.active{
  background-color: #ddd;
}