@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  font-family: '微软雅黑',arial;
  font-size: 14px;
  color: #5e5e5e; }

.percent {
  width: 85.71429%; }

.panel-primary {
  border-color: #009dda; }

.btn-primary {
  background-color: #009dda; }

.cover-img {
  margin-bottom: 5px; }

/*keep footer always on bottom*/
html,
body {
  height: 100%; }

#container {
  min-height: 100%;
  position: relative; }

#body {
  padding-bottom: 160px;
  /* Height of the footer */ }

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  height: 140px;
  /* Height of the footer */
  background-color: #f8f8f8;
  -webkit-box-shadow: 0 -2px 2px #ddd;
  -moz-box-shadow: 0 -2px 2px #ddd;
  box-shadow: 0 -2px 2px #ddd; }

/* navs */
.navbar-brand,
.nav > li > a {
  padding: 20px; }

.navbar-default {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 2px 2px #ddd;
  -moz-box-shadow: 0 2px 2px #ddd;
  box-shadow: 0 2px 2px #ddd; }

.top-nav {
  min-width: 1200px;
  background-color: #333333;
  height: 40px;
  line-height: 40px;
  color: #aaa;
  font-size: 12px; }
  .top-nav .nav-box {
    float: left;
    height: 40px;
    line-height: 40px; }
  .top-nav a {
    margin-left: 10px; }
  .top-nav a:hover {
    color: #fff; }

.med-nav {
  min-width: 1200px; }
  .med-nav ul {
    overflow: hidden; }
    .med-nav ul li {
      float: left;
      margin-right: 10px; }
      .med-nav ul li a {
        display: block;
        padding: 0 20px;
        text-align: center;
        color: #fff;
        font-size: 16px;
        line-height: 45px; }

.match-height-mask {
  opacity: 0;
  transition: ease-in .2s; }

.classify-pro img {
  width: 100%;
  border: 1px solid #EFEFEF;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out; }

.classify-pro .pro-box > a:hover img {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1); }

.classify-pro a {
  display: block;
  overflow: hidden; }

.pro-box {
  position: relative;
  margin-bottom: 20px; }

.pro-box .label {
  position: absolute;
  top: 1px;
  right: 1px;
  border-radius: 0;
  z-index: 2; }

.img-link {
  min-height: 160px; }

.img-link img {
  border: none; }

.classify-videos a {
  position: relative; }

.classify-videos .play-mask {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("img/triangle.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1000; }

.classify-videos .pro-box > a:hover .play-mask {
  display: block; }

.attention {
  display: none; }

.active .not-attention {
  display: none; }

.active .attention {
  display: inline-block; }

.navbar-default + .banner-box {
  margin-top: -20px; }

.flip-opt {
  display: none; }

.swiper-container:hover .flip-opt {
  display: block; }

.swiper-slide {
  height: 720px; }

.modal-body img {
  width: 100%; }

/*pagination*/
.pagination {
  margin: 0; }

.pagination > *:first-child,
.pagination > *:first-child {
  border-radius: 4px 0 0 4px; }

.pagination > *:last-child,
.pagination > *:last-child {
  border-radius: 0 4px 4px 0; }

.pagination > a,
.pagination > span {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #428bca;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none; }

.pagination > a.active,
.pagination > .currentStep,
.pagination a:hover,
.pagination a:focus,
.pagination span:focus {
  background-color: #428bca;
  border-color: #428bca;
  color: #fff;
  cursor: default;
  z-index: 2; }

.pagination > a:hover {
  cursor: pointer;
  background-color: #ddd;
  border: 1px solid #ddd;
  color: #428bca; }

.table .row-select {
  cursor: pointer; }

table.dataTable tbody tr.selected {
  background-color: #B0BED9; }

/*sizes*/
.big-thumb {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.middle-thumb {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

/*images*/
.img-content img {
  max-width: 100%; }

/*comment*/
.media-body {
  word-break: break-all; }

.media-body .comment-limit {
  float: right;
  color: #aaa; }

.comment-list {
  margin-bottom: 20px; }

.comment-list .media {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #eee; }

.comment-area {
  resize: none; }

.panel-body > .title {
  margin-top: 0; }

.panel-default,
.interactive-panel {
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); }

.interactive-panel {
  padding: 10px 15px; }

.interactive-body {
  height: 50px;
  line-height: 50px; }
  .interactive-body h4 {
    display: inline-block; }
  .interactive-body img {
    float: left;
    height: 50px; }
  .interactive-body .brief-text {
    margin-left: 10px; }
  .interactive-body .opt-btn {
    float: right;
    margin-top: 8px; }

.user-panel {
  background-color: #EFEFEF;
  padding: 20px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .user-panel .brief-text {
    font-size: 12px; }

.attention-btn {
  display: inline-block;
  width: 100px;
  padding: 5px 10px;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: #009DDA;
  color: #fff;
  outline: none; }

.attention-btn:hover {
  text-decoration: none;
  color: #fff; }

.attention-btn.active {
  background-color: #ddd; }

.divider {
  margin: 0 10px; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none; }

.show {
  display: block; }

.invisible {
  visibility: hidden; }

.margin-top5 {
  margin-top: 5px; }

.margin-top {
  margin-top: 20px; }

.margin-bottom {
  margin-bottom: 20px; }

.margin-bottom-sm {
  margin-bottom: 10px; }

.margin-bottom-xs {
  margin-bottom: 5px; }

.box-shadow {
  -webkit-box-shadow: 0 2px 2px 2px #F3F3F3;
  -moz-box-shadow: 0 2px 2px 2px #F3F3F3;
  box-shadow: 0 2px 2px 2px #F3F3F3; }

.box-shadow-bottom {
  -webkit-box-shadow: 0 -2px 2px #ddd;
  -moz-box-shadow: 0 -2px 2px #ddd;
  box-shadow: 0 -2px 2px #ddd; }

a {
  color: #999; }

a:hover {
  color: #FF5113; }

.error {
  color: #FF3B3B; }

.border {
  border: 1px solid red; }
