@import "variables";
body{
  font-family: '微软雅黑',arial;
  font-size: 14px;
}
.percent{
  width: percentage(6/7);
}
.panel-primary{
  border-color: $color-primary;
}
.btn-primary{
  background-color: $color-primary;
}

.cover-img{
  margin-bottom: 5px;
}