//colors
$color-default: #fff;
$color-primary: #009dda;
$color-primary-active: #0486b9;
$color-dark: #333333;
$color-grey-primary: #aaa;
$color-grey-lighter: #f8f8f8;

$error-color: #FF3B3B;

$bg-color-footer: #ECECEC;

$font-mini: 12px;

$width-primary: 1200px;